@use '../general' as *;

.home {
    background-color: white;
    .container {
        @include init-flex(column, 0, center, center);
        width: 80%;
        height: 100vh;
        padding: 4rem 0;

        .greeting {
            @include init-flex(column, 0, center, center);
            width: 100%;
            height: 100%;

            h1 {
                & > * {
                    font-family: Google Sans, sans-serif;
                }

                .blue {
                    color: $google-blue;
                }

                .red {
                    color: $google-red;
                }

                .green {
                    color: $google-green;
                }

                .yellow {
                    color: $google-yellow;
                }
            }

            h2 {
                padding: 1rem 0 2rem;
            }

            a {
                @include init-btn($google-blue, $primary-color-one);
            }
        }
    }
}

@media only screen and (min-width: "1024px") {
    .home {
        .container {
            gap: 0;

            .greeting {
                height: fit-content;
                flex: 2;
            }

            .logo {
                margin-top: auto;
            }
        }
    }    
}