@use '../general' as *;

.quiz {
    width: 100%;

    .questions {
        @include init-flex(column, 2rem, center, center);
        width: 100%;
        height: 100%;
        background-color: white;

        .head {
            @include init-flex(column, 0, center, center);
            width: 100%;
            height: 100%;
            background-size: cover;

            & * {
                color: white;
            }

            .container {
                @include init-flex(column, 1rem, center, center);
                width: 80%;
                height: 100%;
                padding: 4rem 0 1rem;

                .progress-bar-container {
                    @include init-flex(column, 0, center, flex-start);
                    width: 100%;
                    height: 1rem;
                    border-radius: 32px;
                    border-width: 2px;
                    border-style: solid;
                    overflow: hidden;
                    background-color: white;
    
                    .progress-bar {
                        height: 100%;
                        border-top-left-radius: 32px;
                        border-bottom-left-radius: 32px;
                        transition: width 0.25s linear;
                    }
                }
            }
        }

        .question {
            @include init-flex(column, 0, initial, center);
            width: 90%;
            height: 100%;

            .answers {
                @include init-flex(column, 1rem, initial, center);
                padding: min(10%, 3rem) 0;
                width: 85%;

                .answer {
                    @include init-btn(white, black);
                    width: 100%;
                }
            }

            .question-nav {
                @include init-flex(row, 1rem, center, center);

                button {
                    @include init-plaintext-size(1.75);
                }

                .back {
                    @include init-btn(black, white, 1rem 3rem);
                }

                .next {
                    @include init-btn(black, white, 1rem 3rem);

                    &--inactive {
                        opacity: 0.5;
                        pointer-events: none;
                    }
                }
            }
        }

        .foot {
            display: none;
        }

        &--blue {
            .head {
                background-image: url("../images/banners/banner_blue.png");

                .progress-bar {
                    &--complete {
                        background-color: $google-blue;
                    }

                    &--incomplete {
                        background-image: linear-gradient(to right, $google-blue 25%, white);
                    }
                }
            }

            .question {
                .answers {
                    .answer {
                        &--selected {
                            box-shadow: 0px 2px 20px -1px $google-blue;
                        }
                    }
                }

                .question-nav {
                    .next {
                        background-color: $google-blue;
                    }
                }
            }
        }
        
        &--red {
            .head {
                background-image: url("../images/banners/banner_red.png");

                .progress-bar {
                    &--complete {
                        background-color: $google-red;
                    }

                    &--incomplete {
                        background-image: linear-gradient(to right, $google-red 25%, white);
                    }
                }
            }

            .question {
                .answers {
                    .answer {
                        &--selected {
                            box-shadow: 0px 2px 20px -1px $google-red;
                        }
                    }
                }

                .question-nav {
                    .next {
                        background-color: $google-red;
                    }
                }
            }
        }

        &--yellow {
            .head {
                background-image: url("../images/banners/banner_yellow.png");

                .progress-bar {
                    &--complete {
                        background-color: $google-yellow;
                    }

                    &--incomplete {
                        background-image: linear-gradient(to right, $google-yellow 25%, white);
                    }
                }
            }

            .question {
                .answers {
                    .answer {
                        &--selected {
                            box-shadow: 0px 2px 20px -1px $google-yellow;
                        }
                    }
                }

                .question-nav {
                    .next {
                        background-color: $google-yellow;
                    }
                }
            }
        }

        &--green {
            .head {
                background-image: url("../images/banners/banner_green.png");

                .progress-bar {
                    &--complete {
                        background-color: $google-green;
                    }

                    &--incomplete {
                        background-image: linear-gradient(to right, $google-green 25%, white);
                    }
                }
            }

            .question {
                .answers {
                    .answer {
                        &--selected {
                            box-shadow: 0px 2px 20px -1px $google-green;
                        }
                    }
                }

                .question-nav {
                    .next {
                        background-color: $google-green;
                    }
                }
            }
        }
    }

    .social-media {
        @include init-flex(column, 0, center, center);
        width: 100%;
        height: 100vh;
        background-color: $neutral-dark;

        & * {
            color: white;
        }

        .container {
            @include init-flex(column, 2rem, center, center);
            width: 80%;

            h2 {
                .in-the-now {
                    background: -webkit-linear-gradient(0deg, $google-blue, $google-red, $google-yellow, $google-green);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: Google Sans, sans-serif;
                }
            }
    
            .links {
                @include init-flex(column, 1rem, center, center);
                width: 60%;
    
                a {
                    width: 100%;
                    @include init-flex(row, 1rem, center, center);
    
                    img {
                        height: 2rem;
                    }
                }
    
                .facebook {
                    @include init-btn(#324DAB, white);
                }
    
                .instagram {
                    @include init-btn(black, white);
                    background: linear-gradient(to right, #A70B72 20%, #FF7A00 60%, #FAFF00 110%);
                }
            }
    
            .finish {
                @include init-btn(white, black, 1rem 2rem);
                @include init-plaintext-size(1.75);
                width: fit-content;
                margin-top: 2rem;            
            }
        }

        .foot {
            display: none;
        }
    }
}

@media only screen and (min-width: "1024px") {
    .quiz {
        @include init-flex(row, 0, center, stretch);
        .questions {
            width: 100%;
            height: 100vh;
            gap: 2rem;

            .head {
                width: 100%;

                .container {
                    width: 50%;
                }
            }

            .question {
                .answers {
                    height: 18rem;
                    align-content: center;
                    flex-wrap: wrap;
                    width: 30%;
                    padding: 2rem 0;

                    .answer {
                        user-select: none;
                    }
                }
            }

            .foot {
                @include init-flex(row, 0, space-between, center);
                width: 90%;
                padding-bottom: 1rem;
                margin-top: auto;
            }
        }

        .social-media {
            .container {
                gap: 1rem;
                flex: 2;

                h2 {
                    width: 80%;
                }

                .links {
                    flex-direction: row;
                    width: fit-content;
                }
    
                .finish {
                    margin-top: 0.5rem;
                    width: fit-content;
                }
            }

            .foot {
                @include init-flex(row, 0, space-between, center);
                width: 90%;
                padding-bottom: 1rem;
                margin-top: auto;
            }
        }
    }
}