$neutral-color: lightgray;
$accent-color: black;
// $primary-color-one: #4285F4;
$primary-color-one: white;
$primary-color-two: #EA4335;
$primary-color-three: #FBBC04;
$primary-color-four: #34A853;

$google-blue: #4285F4;
$google-red: #EA4335;
$google-yellow: #FBBC04;
$google-green: #34A853;
$neutral-dark: #373737;

@font-face {
    font-family: Google Sans;
    src: url("../fonts/GoogleSans-Regular-v1.27.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Google Sans;
    src: url("../fonts/GoogleSans-Medium-v1.27.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Google Sans;
    src: url("../fonts/GoogleSans-Bold-v1.27.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Open Sans;
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

h1, h2, h3, h4, h5, h6 {
    font-family: Google Sans, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: Open Sans, sans-serif;
    box-sizing: border-box;
    color: $neutral-dark;
    text-align: center;
    letter-spacing: -0.05rem;
}

@mixin init-flex($direction, $gap, $justify-content: initial, $align-items: initial) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap; 
}

@mixin init-header-size($size-percentage) {
    font-size: calc(clamp(1rem, 1rem + 1vw, 2rem) * ($size-percentage));
    line-height: 120%;
}

@mixin init-plaintext-size($size-percentage) {
    font-size: calc(clamp(0.7rem, 0.6rem + 0.5vw, 0.8rem) * ($size-percentage));
}

@mixin init-btn($bg-color, $text-color, $padding: 0.75rem 1.5rem) {
    cursor: pointer;
    background-color: $bg-color;
    color: $text-color;
    padding: $padding;
    border-radius: 500px;
    font-weight: 600;
    box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
}

@mixin fit-viewport {
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

h1 {
    @include init-header-size(2.5);
}

h2 {
    @include init-header-size(1.5);
}

h3 {
    @include init-header-size(1.25);
}

p, input, button {
    @include init-plaintext-size(1.5);
}

button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

.App {
    overflow-x: hidden;
    min-height: 100vh;
}

.page {
    @include init-flex(column, 0, center, center);
    height: 100%;
}

.logo {
    width: 100%;
}

@media only screen and (min-width: "1024px") {
    .logo {
        width: 30%;
    }
}