$neutral-color: lightgray;
$accent-color: black;
// $primary-color-one: #4285F4;
$primary-color-one: white;
$primary-color-two: #EA4335;
$primary-color-three: #FBBC04;
$primary-color-four: #34A853;

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    color: $primary-color-one;
    text-align: center;
}

@mixin init-flex($direction, $gap, $justify-content: initial, $align-items: initial) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap; 
}

@mixin init-header-size($size-percentage) {
    font-size: calc(clamp(1rem, 1rem + 1vw, 2rem) * ($size-percentage));
    line-height: 120%;
}

@mixin init-plaintext-size($size-percentage) {
    font-size: calc(clamp(0.7rem, 0.6rem + 0.5vw, 0.8rem) * ($size-percentage));
}

@mixin init-btn($bg-color, $hover-color) {
    cursor: pointer;
    background-color: $bg-color;
    // padding: $padding;
    border-radius: 500px;

    &:hover, &:active {
        color: $hover-color;
    }
}

h1 {
    @include init-header-size(2);
}

h2 {
    @include init-header-size(1.5);
}

h3 {
    @include init-header-size(1.25);
}

p, input {
    @include init-plaintext-size(1.5);
}

a {
    text-decoration: none;
}

.App {
    height: 100vh;
    background-color: lightgray;
}

.page {
    @include init-flex(column, 0, center, center);
    height: 100%;
}