@font-face {
  font-family: Google Sans;
  src: url("../fonts/GoogleSans-Regular-v1.27.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Google Sans;
  src: url("../fonts/GoogleSans-Medium-v1.27.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Google Sans;
  src: url("../fonts/GoogleSans-Bold-v1.27.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
h1, h2, h3, h4, h5, h6 {
  font-family: Google Sans, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: Open Sans, sans-serif;
  box-sizing: border-box;
  color: #373737;
  text-align: center;
  letter-spacing: -0.05rem;
}

h1 {
  font-size: calc(clamp(1rem, 1rem + 1vw, 2rem) * 2.5);
  line-height: 120%;
}

h2 {
  font-size: calc(clamp(1rem, 1rem + 1vw, 2rem) * 1.5);
  line-height: 120%;
}

h3 {
  font-size: calc(clamp(1rem, 1rem + 1vw, 2rem) * 1.25);
  line-height: 120%;
}

p, input, button {
  font-size: calc(clamp(0.7rem, 0.6rem + 0.5vw, 0.8rem) * 1.5);
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.App {
  overflow-x: hidden;
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100%;
}

.logo {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .logo {
    width: 30%;
  }
}
.home {
  background-color: white;
}
.home .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 80%;
  height: 100vh;
  padding: 4rem 0;
}
.home .container .greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
}
.home .container .greeting h1 > * {
  font-family: Google Sans, sans-serif;
}
.home .container .greeting h1 .blue {
  color: #4285F4;
}
.home .container .greeting h1 .red {
  color: #EA4335;
}
.home .container .greeting h1 .green {
  color: #34A853;
}
.home .container .greeting h1 .yellow {
  color: #FBBC04;
}
.home .container .greeting h2 {
  padding: 1rem 0 2rem;
}
.home .container .greeting a {
  cursor: pointer;
  background-color: #4285F4;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 500px;
  font-weight: 600;
  box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 1024px) {
  .home .container {
    gap: 0;
  }
  .home .container .greeting {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex: 2;
  }
  .home .container .logo {
    margin-top: auto;
  }
}
.quiz {
  width: 100%;
}
.quiz .questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  background-color: white;
}
.quiz .questions .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.quiz .questions .head * {
  color: white;
}
.quiz .questions .head .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  height: 100%;
  padding: 4rem 0 1rem;
}
.quiz .questions .head .container .progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  height: 1rem;
  border-radius: 32px;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  background-color: white;
}
.quiz .questions .head .container .progress-bar-container .progress-bar {
  height: 100%;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  transition: width 0.25s linear;
}
.quiz .questions .question {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  gap: 0;
  width: 90%;
  height: 100%;
}
.quiz .questions .question .answers {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  gap: 1rem;
  padding: min(10%, 3rem) 0;
  width: 85%;
}
.quiz .questions .question .answers .answer {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 500px;
  font-weight: 600;
  box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.quiz .questions .question .question-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.quiz .questions .question .question-nav button {
  font-size: calc(clamp(0.7rem, 0.6rem + 0.5vw, 0.8rem) * 1.75);
}
.quiz .questions .question .question-nav .back {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 1rem 3rem;
  border-radius: 500px;
  font-weight: 600;
  box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
}
.quiz .questions .question .question-nav .next {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 1rem 3rem;
  border-radius: 500px;
  font-weight: 600;
  box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
}
.quiz .questions .question .question-nav .next--inactive {
  opacity: 0.5;
  pointer-events: none;
}
.quiz .questions .foot {
  display: none;
}
.quiz .questions--blue .head {
  background-image: url("../images/banners/banner_blue.webp");
}
.quiz .questions--blue .head .progress-bar--complete {
  background-color: #4285F4;
}
.quiz .questions--blue .head .progress-bar--incomplete {
  background-image: linear-gradient(to right, #4285F4 25%, white);
}
.quiz .questions--blue .question .answers .answer--selected {
  box-shadow: 0px 2px 20px -1px #4285F4;
}
.quiz .questions--blue .question .question-nav .next {
  background-color: #4285F4;
}
.quiz .questions--red .head {
  background-image: url("../images/banners/banner_red.webp");
}
.quiz .questions--red .head .progress-bar--complete {
  background-color: #EA4335;
}
.quiz .questions--red .head .progress-bar--incomplete {
  background-image: linear-gradient(to right, #EA4335 25%, white);
}
.quiz .questions--red .question .answers .answer--selected {
  box-shadow: 0px 2px 20px -1px #EA4335;
}
.quiz .questions--red .question .question-nav .next {
  background-color: #EA4335;
}
.quiz .questions--yellow .head {
  background-image: url("../images/banners/banner_yellow.webp");
}
.quiz .questions--yellow .head .progress-bar--complete {
  background-color: #FBBC04;
}
.quiz .questions--yellow .head .progress-bar--incomplete {
  background-image: linear-gradient(to right, #FBBC04 25%, white);
}
.quiz .questions--yellow .question .answers .answer--selected {
  box-shadow: 0px 2px 20px -1px #FBBC04;
}
.quiz .questions--yellow .question .question-nav .next {
  background-color: #FBBC04;
}
.quiz .questions--green .head {
  background-image: url("../images/banners/banner_green.webp");
}
.quiz .questions--green .head .progress-bar--complete {
  background-color: #34A853;
}
.quiz .questions--green .head .progress-bar--incomplete {
  background-image: linear-gradient(to right, #34A853 25%, white);
}
.quiz .questions--green .question .answers .answer--selected {
  box-shadow: 0px 2px 20px -1px #34A853;
}
.quiz .questions--green .question .question-nav .next {
  background-color: #34A853;
}
.quiz .social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100vh;
  background-color: #373737;
}
.quiz .social-media * {
  color: white;
}
.quiz .social-media .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
}
.quiz .social-media .container h2 .in-the-now {
  background: -webkit-linear-gradient(0deg, #4285F4, #EA4335, #FBBC04, #34A853);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Google Sans, sans-serif;
}
.quiz .social-media .container .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 60%;
}
.quiz .social-media .container .links a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.quiz .social-media .container .links a img {
  height: 2rem;
}
.quiz .social-media .container .links .facebook {
  cursor: pointer;
  background-color: #324DAB;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 500px;
  font-weight: 600;
  box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
}
.quiz .social-media .container .links .instagram {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 500px;
  font-weight: 600;
  box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #A70B72 20%, #FF7A00 60%, #FAFF00 110%);
}
.quiz .social-media .container .finish {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 1rem 2rem;
  border-radius: 500px;
  font-weight: 600;
  box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
  font-size: calc(clamp(0.7rem, 0.6rem + 0.5vw, 0.8rem) * 1.75);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2rem;
}
.quiz .social-media .foot {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .quiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 0;
  }
  .quiz .questions {
    width: 100%;
    height: 100vh;
    gap: 2rem;
  }
  .quiz .questions .head {
    width: 100%;
  }
  .quiz .questions .head .container {
    width: 50%;
  }
  .quiz .questions .question .answers {
    height: 18rem;
    align-content: center;
    flex-wrap: wrap;
    width: 30%;
    padding: 2rem 0;
  }
  .quiz .questions .question .answers .answer {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .quiz .questions .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 90%;
    padding-bottom: 1rem;
    margin-top: auto;
  }
  .quiz .social-media .container {
    gap: 1rem;
    flex: 2;
  }
  .quiz .social-media .container h2 {
    width: 80%;
  }
  .quiz .social-media .container .links {
    flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .quiz .social-media .container .finish {
    margin-top: 0.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .quiz .social-media .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 90%;
    padding-bottom: 1rem;
    margin-top: auto;
  }
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100vh;
  background-color: red;
  background-image: radial-gradient(rgba(217, 217, 217, 0.4), rgba(217, 217, 217, 0));
}
.result * {
  color: white;
}
.result .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
}
.result .container .center {
  position: relative;
  width: 100%;
}
.result .container .center h1 {
  font-size: calc(clamp(1rem, 1rem + 1vw, 2rem) * 3.5);
  line-height: 120%;
  position: absolute;
  text-align: center;
  width: 80%;
  opacity: 0.6;
  top: 50%;
  left: 0px;
  right: 0px;
  z-index: 1;
  margin: auto;
  transform: translateY(-50%);
}
.result .container .center .character {
  position: relative;
  z-index: 2;
  width: 20rem;
}
.result .container .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.result .container .bottom h3 {
  padding: 1rem 2rem;
  border-radius: 500px;
  border: 3px solid white;
}
.result .container .bottom p .retake {
  text-decoration: underline;
}
.result .foot {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .result .container {
    flex: 2;
  }
  .result .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 90%;
    padding-bottom: 1rem;
    margin-top: auto;
  }
}/*# sourceMappingURL=styles.css.map */